

/*header*/
header{
    background: #084566;
    display:flex;
    flex-direction:column;
    height:8.5rem;
    text-align:center;
    margin: none;
    color:azure;

}
ul{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 40px;
}
.Title{
    padding-left: 50px;
    width:500px;
    color:white;
    font-size:80px;
    height: 3rem;
    height:70%;
    display:inline;
}
p{
    font-size: 1.5rem;
}
.description{
    font-size: 16px;
}
/*start menu*/

container{
    display:flex;
    align-items: center;
    justify-content: center;
}
button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #084566;
    border-style: none;
    color: aliceblue;
    width: 16rem;
    height: 6rem;
    font-size: 2rem;
   
}

.buttons{
    margin-top: 15rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


/*main game block*/
li{
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    color: #084566;
    text-align: right;
}
.imgg{
    height: 23rem;
    min-width: 33rem;
}
img {
    height: 23rem;
    min-width: 33rem;
}
.img{
    display:none;
}
.images-container{
    display:flex;
    width:33rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left:50%;
    border: 3px solid black;
    top: 45%;
    transform: translate(-50%, -50%);
}


body{
    margin: 0;
    background-color: #97C7D8;
    text-align: center;
}


#guessArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 10%;

}
input{
    width:11.5rem;
    border:solid 2px #084566;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
/*letters block`*/
footer{
    display:flex;
    flex-direction:column;
    background-color: #084566;
    color:aliceblue;
    text-align: center;
    word-spacing: 1rem;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9rem;
    display: none;
    margin-top: none;
}

#lettersUsed{
    left:50%;
    right:50%;
}
/*end game*/
#end{
    display:none;
    margin-top: 9rem;
}
#yes,#no{
    margin-top: 1rem;
}
h2{
    font-size:32px;
}